<h1>Editing Topic #<%= @topic.id %></h1>

<%= form_tag(topic_url(@topic), method: 'patch') do %>
  <div>
    <%= label_tag :post %><br />
    <%= text_field_tag :post, @topic.post %>
  </div>

  <div>
    <%= label_tag :tag %><br />
    <%= text_field_tag :tag, @topic.tag %>
  </div>

  <div>
    <%= submit_tag "Update Topic" %>
  </div>
<% end %>
