<h1>Topics</h1>

<p><%= link_to 'Add a New Topic', new_url %></p>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Tag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.post %></td>
      <td><%= topic.tag %></td>
      <td><%= link_to 'Show', url(topic) %></td>
      <td><%= link_to 'Edit', edit_url(topic) %></td>
      <td><%= link_to 'Destroy', url(topic), method: 'delete', data: { confirm: "Do you really want to delete this topic?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

