<h1>New Topic</h1>

<%= form_tag(topics_url, method: 'post') do %>
  <div>
    <%= label_tag :post %><br />
    <%= text_field_tag :post %>
  </div>

  <div>
    <%= label_tag :tag %><br />
    <%= text_field_tag :tag %>
  </div>

  <div>
    <%= submit_tag "Create Topic" %>
  </div>
<% end %>
