<div class="page-header">
  <h1>Editing User #<%= @user.id %></h1>
</div>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, @user.first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, @user.last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :street_address, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :street_address, @user.street_address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, @user.city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :state, @user.state, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :zip_code, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :zip_code, @user.zip_code, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :linkedin, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :linkedin, @user.linkedin, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :twitter, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :twitter, @user.twitter, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :facebook, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :facebook, @user.facebook, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :author, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :author, @user.author, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :admin, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :admin, @user.admin, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :bio, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :bio, @user.bio, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :photo, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :photo, @user.photo, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update User", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
