<% if current_user.id == @user.id || current_user.admin? %>

<div class="page-header">
</div>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>


<% if current_user.id == @user.id %>
  <div class="form-group">
    <%=  link_to 'Change Password', edit_user_registration_path, class: 'btn btn-primary form-control'%>
  </div>
<% end %>

  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, @user.first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, @user.last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :street_address, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :street_address, @user.street_address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, @user.city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :state, @user.state, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :zip_code, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :zip_code, @user.zip_code, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :linkedin, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :linkedin, @user.linkedin, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :twitter, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :twitter, @user.twitter, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :facebook, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :facebook, @user.facebook, class: 'form-control' %>
    </div>
  </div>


<% if current_user.admin? %>
  <div class="form-group">
    <%= label_tag :author, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :author, @user.author, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :admin, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :admin, @user.admin, class: 'form-control' %>
    </div>
  </div>
<% end %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update User", class: 'btn btn-primary' %>

      <%= link_to "Delete User", user_url(@user), method: 'delete', data: { confirm: "Do you really want to delete this user?" }, class: 'btn btn-danger' %>
    </div>
  </div>

<% end %>

<% else %>

<%= render template: "home/index" %>

<% end %>