<div class="page-header">
  <h1>User Profile</h1>
</div>

<%= form_tag(users_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :street_address, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :street_address, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :state, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :zip_code, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :zip_code, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :linkedin, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :linkedin, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :twitter, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :twitter, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :facebook, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :facebook, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Save Profile", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
