<div class="page-header">
  <h1>Topics</h1>
</div>

<p><%= link_to 'Add a New Topic', new_topic_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Post</th>
      <th>Tag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.post_id %></td>
        <td><%= topic.tag_id %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, topic_url(topic), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_topic_url(topic), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, topic_url(topic), method: 'delete', data: { confirm: "Do you really want to delete this topic?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

