<div class="page-header">
  <h1>Post #<%= @post.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @post.user_id %></dd>

  <dt>Published</dt>
  <dd><%= @post.published %></dd>

  <dt>Published on</dt>
  <dd><%= @post.published_on %></dd>

  <dt>Post text</dt>
  <dd><%= @post.post_text %></dd>

</dl>
