<div class="page-header">
  <h1>New Post</h1>
</div>

<%= form_tag(posts_url, method: 'post', class: 'form-horizontal') do %>
  
  <div class="form-group">
    <%= label_tag :title, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :title, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :published, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :published, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :published_on, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :published_on, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :post_text, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :post_text, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Post", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
