<div class="page-header">
  <h1><%= @post.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Author</dt>
  <dd><%= @post.user.first_name %> <%= @post.user.last_name %></dd>

  <dt>Posted On: </dt>
  <dd><%= @post.published_on %></dd>

<br>
<br> 
  <dd><%= @post.post_text.html_safe %></dd>

</dl>
